body {
    font-family: 'Nunito';
    font-size: 16px;
}

body p {
    font-family: 'Nunito';
    font-size: 16px;
}

body a{
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 700;
    color: #44afff;
}


.btn a{
    font-family: 'Nunito';
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
}

.btn a:hover{
    text-decoration: none;
}

.navbar .navbar-inner a{
    font-family: "News Cycle","Arial Narrow Bold",sans-serif;
}

.the-icons {
    display: inline;
    background: #ffffff;
    border-radius: 5px;
    padding: 5px;
    list-style-type: none;
    margin-left: 5px;
    text-align: center;
    font-size: 18px;
}

.the-icons i{
   font-size: 72px;
}
